[submodule "neovim/.local/share/nvim/site/pack/plugins/start/copilot.vim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/gruvbox-material"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/fzf.vim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-fugitive"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/vim-fetch"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/lualine.nvim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/nvim-lint"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/none-ls.nvim"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/none-ls.nvim
	url = git@github.com:nvimtools/none-ls.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = neovim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
